body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.473)),url('./images/site-bg.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.container{
  width: 70%;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 0 5px #ddd;
}
.container form input {
  display: inline-block;
  margin: 10px 5px;
}
.submit{
  width: 100%;
  border: none;
  outline: none;
  background: #250202;
  padding: .5rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}